
@if (AllAddress.length === 0) {
    <section class="flex justify-around flex-wrap p-6">
        <div style="max-width: 550px;">
            <img src="./assets/images/issue.jpg" alt="">
        </div>
        <div class=" content-center">
            <h1 class="font-black text-main text-4xl mb-11">{{"address.You didn't Add the Address !!" | translate}}</h1>


            <div class="p-4 md:p-5">
                <form class="space-y-4"  [formGroup]="registerForm" (ngSubmit)="AddressSubmit()" >
                    <div>
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            {{"address.your name" | translate}}
                            </label>
                        <input type="text" name="name" id="name"
                            class=" text-sm rounded-lg block w-full p-2.5  text-gray-900 border border-gray-300 bg-gray-50 focus:ring-green-400 focus:border-green-700 "
                            required formControlName="name" />
                    </div>
                    <div>
                        <label for="Details" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            {{"address.your details" | translate}}</label>
                        <input type="text" name="Details" id="Details"
                            class=" text-sm rounded-lg  block w-full p-2.5 text-gray-900 border border-gray-300 bg-gray-50 focus:ring-green-400 focus:border-green-700 "
                            required formControlName="details" />
                    </div>
                    <div>
                        <label for="number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{"address.your phone number" | translate}}</label>
                        <input type="number" name="number" id="text"
                            class=" text-sm rounded-lg  block w-full p-2.5 text-gray-900 border border-gray-300 bg-gray-50 focus:ring-green-400 focus:border-green-700 "
                            required  formControlName="phone"/>
                    </div>
                    <div>
                        <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{"address.city" | translate}}</label>
                        <input type="text" name="city" id="city"
                            class=" text-sm rounded-lg  block w-full p-2.5 text-gray-900 border border-gray-300 bg-gray-50 focus:ring-green-400 focus:border-green-700 "
                            required formControlName="city" />
                    </div>
                    <button type="submit"
                        class="w-full btn-main focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 text-center ">{{"address.add address" | translate}}</button>
                </form>
            </div>
    
        </div>

        
    </section>
}@else {
    @for (address of AllAddress; track address._id) {
        <section class="flex justify-between flex-wrap product my-5 lg:mx-40 md:mx-32 mx-4 p-6">
            <div>
                <h1 class="text-lg font-bold" >{{"address.name" | translate}}: {{address.name}}</h1>
                <h1>{{"address.phone" | translate}}: {{address.phone}}</h1>
                <h3>{{"address.city" | translate}}: {{address.city}}</h3>
                <h3>{{"address.details" | translate}}: {{address.details}}</h3>
            </div>
    
            <div>
                @if (getCartId) {
                    <div class="mb-5">
                        <button (click)="Onlinecheckout(getCartId, address)" class="btn-main">{{"address.use this address" | translate}}</button>
                    </div>
                }
                <div class="">
                    <button (click)="DeleteAddress(address._id)" ><fa-icon class="text-red-700" [icon]="faTrash" ></fa-icon> {{"address.delete" | translate}}!</button>
                </div>
            </div>
        </section>
    }
    @if (!addingAddress) {
        <div class="flex justify-center my-4" (click)="AddNewAddress()">            
            <button type="submit"class="w-1/3 btn-main focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 text-center ">{{"address.add address" | translate}}</button>
        </div>
    }@else{
        <div class=" content-center">
            <div class="p-4 md:p-5">
                <form class="space-y-4"  [formGroup]="registerForm" (ngSubmit)="AddressSubmit()" >
                    <div>
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            {{"address.your name" | translate}}
                            </label>
                        <input type="text" name="name" id="name"
                            class=" text-sm rounded-lg block w-full p-2.5  text-gray-900 border border-gray-300 bg-gray-50 focus:ring-green-400 focus:border-green-700 "
                            required formControlName="name" />
                    </div>
                    <div>
                        <label for="Details" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            {{"address.your details" | translate}}</label>
                        <input type="text" name="Details" id="Details"
                            class=" text-sm rounded-lg  block w-full p-2.5 text-gray-900 border border-gray-300 bg-gray-50 focus:ring-green-400 focus:border-green-700 "
                            required formControlName="details" />
                    </div>
                    <div>
                        <label for="number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{"address.your phone number" | translate}}</label>
                        <input type="number" name="number" id="text"
                            class=" text-sm rounded-lg  block w-full p-2.5 text-gray-900 border border-gray-300 bg-gray-50 focus:ring-green-400 focus:border-green-700 "
                            required  formControlName="phone"/>
                    </div>
                    <div>
                        <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{"address.city" | translate}}</label>
                        <input type="text" name="city" id="city"
                            class=" text-sm rounded-lg  block w-full p-2.5 text-gray-900 border border-gray-300 bg-gray-50 focus:ring-green-400 focus:border-green-700 "
                            required formControlName="city" />
                    </div>
                    <button type="submit"
                        class="w-full btn-main focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 text-center ">{{"address.add address" | translate}}</button>
                </form>
            </div>
    
        </div>
    }
}
