<app-error [servError]="servError"></app-error>
@if (SucceedMesg != null) {
    <app-succeed [SucceedMesg]="SucceedMesg"></app-succeed>
}

@if (steps == 1) 
{
    <div class="shadow-2xl max-w-4xl mx-auto " style="background-color: #E9F0FF;">
        <form class="m-10 p-10" [formGroup]="ForgetPasswordForm" (ngSubmit)="ForgetPassword()" >
            <h1 class="md:text-4xl text-2xl main-text-color flex justify-center mb-12 ">Reset Password</h1>
    
            <div class="mb-5">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email:</label>
                <input type="email" id="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="example@example.com" required formControlName="email" />
        
                @if (ForgetPasswordForm.get("email")?.errors && ForgetPasswordForm.get("email")?.touched)
                {
                    @if (ForgetPasswordForm.get("email")?.getError("required") && ForgetPasswordForm.get("email")?.dirty)
                    {
                    <div class="mt-1 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                        <span class="block sm:inline">Email is Required.</span>
                    </div>
                    }
                    @else if (ForgetPasswordForm.get("email")?.getError("email"))
                    {
                    <div class="mt-1 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                        <span class="block sm:inline">The email must have email signature </span>
                    </div>
                    }
                }
            </div>
    
            
            <div class="flex justify-end flex-wrap  gap-20  md:space-x-60 ">
                <div>
                    <button [disabled]="isLoading" [disabled]="ForgetPasswordForm.invalid" type="button" type="submit"
                        class=" focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Register</button>
                </div>
            </div>
        
        </form>
    </div>
}
@else if (steps == 2) 
{
    <div class="shadow-2xl max-w-4xl mx-auto " style="background-color: #E9F0FF; ">
        <form class="m-10 p-10" [formGroup]="verifyCodeForm" (ngSubmit)="verifyResetCode()" >
            <h1 class="md:text-4xl text-2xl main-text-color flex justify-center mb-12 ">Reset Code</h1>
    
            <div class="mb-5">
                <label for="number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter your Reset Code</label>
                <input type="number" id="number"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    required formControlName="resetCode" />
            </div>
    
            
            <div class="flex justify-end flex-wrap  gap-20  md:space-x-60 ">
                <div>
                    <button [disabled]="isLoading"  type="button" type="submit"
                        class=" focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Register</button>
                </div>
            </div>
        
        </form>
    </div>
}
@else if (steps == 3) 
{
    <div class="shadow-2xl max-w-4xl mx-auto " style="background-color: #E9F0FF;">
        <form class="m-10 p-10" [formGroup]="ResetPasswordForm" (ngSubmit)="ResetPassword()" >
            <h1 class="md:text-4xl text-2xl main-text-color flex justify-center mb-12 ">Reset Password</h1>
    
            <div class="mb-5">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email:</label>
                <input type="email" id="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="example@example.com" required formControlName="email" />
        
                @if (ForgetPasswordForm.get("email")?.errors && ForgetPasswordForm.get("email")?.touched)
                {
                    @if (ForgetPasswordForm.get("email")?.getError("required") && ForgetPasswordForm.get("email")?.dirty)
                    {
                    <div class="mt-1 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                        <span class="block sm:inline">Email is Required.</span>
                    </div>
                    }
                    @else if (ForgetPasswordForm.get("email")?.getError("email"))
                    {
                    <div class="mt-1 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                        <span class="block sm:inline">The email must have email signature </span>
                    </div>
                    }
                }
            </div>
    
            <div class="mb-5">
                <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter your Reset Code</label>
                <input type="text" id="text"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    required formControlName="newPassword" />
            </div>
    
            
            <div class="flex justify-end flex-wrap  gap-20  md:space-x-60 ">
                <div>
                    <button [disabled]="isLoading" [disabled]="ForgetPasswordForm.invalid" type="button" type="submit"
                        class=" focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Register</button>
                </div>
            </div>
        
        </form>
    </div>
}





