<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="../../../../assets/images/freshcart-logo.svg" class="h-8" />
        </a>
        <button data-collapse-toggle="navbar-default" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15" />
            </svg>
        </button>
        <div class="hidden w-full lg:block lg:w-auto " id="navbar-default">
            <ul
                class="font-medium flex flex-col p-4 lg:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 lg:flex-row lg:space-x-3 rtl:space-x-reverse lg:mt-0 lg:border-0 lg:bg-white dark:bg-gray-800 lg:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a routerLink="home" routerLinkActive="active-link" aria-current="page"
                        class=" block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-green-500 lg:p-0 dark:text-white lg:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent"
                        aria-current="page">
                        <fa-icon class="lg:hidden" [icon]="faHouse"></fa-icon>

                        {{"navBar.home" | translate}}</a>
                </li>
                <li class="md:hidden">
                    <a routerLink="cart" routerLinkActive="active-link"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-green-700 md:p-0 dark:text-white lg:dark:hover:text-green-500 dark:hover:bg-white dark:hover:text-white lg:dark:hover:bg-transparent">
                        <fa-icon class="lg:hidden" [icon]="faCartShopping"></fa-icon>
                        {{"navBar.cart"
                        | translate}}</a>
                </li>
                <li>
                    <a routerLink="address" routerLinkActive="active-link"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 md:hover:text-green-700 lg:p-0 dark:text-white lg:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent">
                        <fa-icon class="lg:hidden" [icon]="faAddressBook"></fa-icon>

                        {{"navBar.address"
                        | translate}}</a>
                </li>
                <li>
                    <a routerLink="products" routerLinkActive="active-link"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 md:hover:text-green-700 lg:p-0 dark:text-white lg:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent">

                        {{"navBar.products"
                        | translate}}</a>
                </li>
                <li>
                    <a routerLink="categories" routerLinkActive="active-link"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 md:hover:text-green-700 lg:p-0 dark:text-white lg:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent">
                        <fa-icon class="lg:hidden" [icon]="faLayerGroup"></fa-icon>


                        {{"navBar.categories"
                        | translate}}</a>
                </li>
                <li>
                    <a routerLink="brands" routerLinkActive="active-link"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 md:hover:text-green-700 lg:p-0 dark:text-white lg:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent">
                        <fa-icon class="lg:hidden" [icon]="faStore"></fa-icon>
                        {{"navBar.brands"
                        | translate}}</a>
                </li>
                <li>
                    <a routerLink="withList" routerLinkActive="active-link"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 md:hover:text-green-700 lg:p-0 dark:text-white lg:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent">
                        <fa-icon class="lg:hidden" [icon]="faHeart"></fa-icon>

                        {{"navBar.wishlist"
                        | translate}}</a>
                </li>
                
                <li>
                    <a routerLink="orderHistory" routerLinkActive="active-link"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 md:hover:text-green-700 lg:p-0 dark:text-white lg:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent">
                        <fa-icon class="lg:hidden" [icon]="faBagShopping"></fa-icon>

                        {{"navBar.orderHistory"
                        | translate}}</a>
                </li>



                @if (Logged) {
                <li class="lg:hidden">
                    <button (click)="SighOut()"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 md:hover:text-green-700 lg:p-0 dark:text-white lg:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent">{{"navBar.signout"
                        | translate}}</button>
                </li>
                }@else {
                <li class="lg:hidden">
                    <a routerLink="login" routerLinkActive="active-link"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 md:hover:text-green-700 lg:p-0 dark:text-white lg:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent">{{"navBar.login"
                        | translate}}</a>
                </li>
                <li class="lg:hidden">
                    <a routerLink="register" routerLinkActive="active-link"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 md:hover:text-green-700 lg:p-0 dark:text-white lg:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent">{{"navBar.register"
                        | translate}}</a>
                </li>
                }


                <li class="lg:hidden mt-3">

                    <button id="dropdownAvatarNameButton" data-dropdown-toggle="dropdownAvatarName2"
                        class="flex items-center text-sm pe-1 font-medium text-gray-900 rounded-full hover:text-blue-600 dark:hover:text-blue-500 md:me-0 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-white"
                        type="button">
                        {{"navBar.langName"
                        | translate}}
                        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg>
                    </button>

                    <!-- Dropdown menu -->
                    <div id="dropdownAvatarName2"
                        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                            aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton">

                            <li>
                                <a (click)="change('ar')"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ar</a>
                            </li>
                            <li>
                                <a (click)="change('en')"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">En</a>
                            </li>
                        </ul>
                    </div>

                </li>



            </ul>

        </div>

        <div class="hidden w-full lg:block lg:w-auto">
            <ul
                class="font-medium flex flex-col p-2 md:p-0 mx-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-4 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">

                <li>

                    <button id="dropdownAvatarNameButton" data-dropdown-toggle="dropdownAvatarName"
                        class="flex items-center text-sm pe-1 font-medium text-gray-900 rounded-full hover:text-blue-600 dark:hover:text-blue-500 md:me-0 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-white"
                        type="button">
                        {{"navBar.lang"
                        | translate}}
                        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg>
                    </button>

                    <!-- Dropdown menu -->
                    <div id="dropdownAvatarName"
                        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                            aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton">

                            <li>
                                <a (click)="change('ar')"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ar</a>
                            </li>
                            <li>
                                <a (click)="change('en')"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">En</a>
                            </li>
                        </ul>
                    </div>

                </li>

                <li>
                    <a><fa-icon [icon]="faFacbook"></fa-icon></a>
                </li>
                <li>
                    <a><fa-icon [icon]="faInstagram"></fa-icon></a>
                </li>
                <li>
                    <a><fa-icon [icon]="faTiktok"></fa-icon></a>
                </li>
                <li>
                    <a routerLink="cart" class="relative">
                        <fa-icon size="2xl" [icon]="faCartShopping"></fa-icon>
                        <span style="top: -12px; right: 0px;"
                            class=" absolute bg-green-100 text-green-800 text-xs font-medium me-2 px-1 py-0.5 rounded dark:bg-green-900 dark:text-green-300">
                        {{CartCount}}
                        </span>
                    </a>
                </li>

                @if (Logged) {
                <li>
                    <button (click)="SighOut()"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">{{"navBar.signout"
                        | translate}}</button>
                </li>
                }@else {
                <li>
                    <a routerLink="login" routerLinkActive="active-link"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">{{"navBar.login"
                        | translate}}</a>
                </li>
                <li>
                    ||
                <li>
                    <a routerLink="register" routerLinkActive="active-link"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">{{"navBar.register"
                        | translate}}</a>
                </li>
                }

            </ul>
        </div>
    </div>
</nav>