<div>
    <div class="h-[450px] w-full card-Product product md:col-span-1 col-span-12 my-3 relative flex flex-col">
        <div class="p-4 flex flex-col h-full">
            <div class="relative h-48 mb-4">
                <img [routerLink]="['/Details', product.Id]" [src]="product.ImageCover" class="w-full h-full object-cover rounded-lg">
                <div class="absolute top-2 right-2">
                    @if (WishListIDs?.includes(product.Id)) {
                        @if (wishListLoading === true) {
                            <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
                        }@else {
                            <button (click)="removeFromWishList(product.Id)">
                                <fa-icon size="xl" [icon]="faHeart" style="color:red;"></fa-icon>
                            </button>
                        }
                    }@else {
                        @if (wishListLoading === true) {
                            <fa-icon style="color: red;" [icon]="faSpinner" [spin]="true"></fa-icon>
                        }@else {
                            <button (click)="addToWishList(product.Id)">
                                <fa-icon size="xl" [icon]="faHeart"></fa-icon>
                            </button>
                        }
                    }
                </div>
            </div>
            
            <div [routerLink]="['/Details', product.Id]" class="flex-grow">
                <p class="text-xs main-text-color mb-1">{{product.CategoryName | lowercase }}</p>
                <p class="text-sm font-medium mb-2 line-clamp-2">{{product.Title | termtext : 2 | titlecase}} ...</p>
                
                <div class="flex items-center mb-2">
                    @for (item of [1,2,3,4,5].slice(0, product.ratingsAverage); track $index) {
                        <fa-icon size="sm" style="color: #FFD700;" [icon]="faStar"></fa-icon>
                    }
                    @if (product.ratingsAverage % 1 != 0) {
                        <fa-icon size="sm" style="color: #FFD700;" [icon]="faStarHalf"></fa-icon>
                    }
                    <span class="ml-1 text-sm">{{product.ratingsAverage}}</span>
                </div>
                
                <p class="text-lg font-semibold mb-4">{{product.Price | currency: 'EGP'}}</p>
            </div>
            
            <div class="mt-auto">
                <button [disabled]="AddLoading == true" (click)="addToCart(product.Id)" type="button"
                    class="btn-main w-full flex items-center justify-center">
                    @if (AddLoading == true && itemId == product.Id) {
                        <fa-icon [icon]="faSpinner" [spin]="true" class="mr-2"></fa-icon>
                    }
                    {{"product.add to cart" | translate }}
                </button>
            </div>
        </div>
    </div>
</div>