@if (succeed == true) {
<app-succeed [SucceedMesg]="ServMessage"></app-succeed>
}
@if (succeed == false) {
<app-error [servError]="ServMessage"></app-error>
}


<!--Search-->
<div class="max-w-md mx-auto">
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
        </div>
        <input [(ngModel)]="SearchWords" type="search" id="default-search"
       class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-green-400 focus:border-green-700"
       [placeholder]="'general.search products' | translate" required />

    </div>
</div>



<!-- products -->
<section class=" md:grid xl:grid-cols-6 lg:grid-cols-5 md:grid-cols-4 md:gap-4 ">
    @for (item of Products | kMPSearch : SearchWords; track item._id) {
        <app-product-card [product]="item"></app-product-card>
    }
</section>