<h1 class="text-5xl font-bold main-text-color text-center mt-4">{{"general.all brands" | translate }}</h1>
<div #demo class="flex justify-center flex-wrap mb-10">
    @for (brand of AllBrands; track brand._id) {

    <button class="rid grid-cols-4 gap-4 brand m-2" (click)="getBrandById(brand._id) ">
        <div class="col-span-1 pb-2 border-spacing-2 border-cyan-300">
            <img src="{{brand.image}}" alt="{{brand.name}}" class="w-full h-48 object-cover">
            <h2 class="text-2xl font-bold text-center ">{{brand.name}}</h2>
        </div>
    </button>
    }
</div>



<h1 #product class=" text-5xl font-bold main-text-color text-center mb-2 mt-5">{{"general.products of Brands"| translate}}</h1>


<!--Products by Brnad-->
@if (AllProduct.length !== 0) {
<section class=" md:grid xl:grid-cols-6 lg:grid-cols-5 md:grid-cols-4 md:gap-4 ">
    @for (item of AllProduct; track item._id) {
        <app-product-card [product]="item"></app-product-card>
    }
</section>
}@else {
<h1 class="text-3xl font-bold main-text-color text-center mt-5">{{"general.no products found" | translate}}</h1>
}
