

@if (succeed == true) {
    <app-succeed [SucceedMesg]="'Thank You!'"></app-succeed>
}
@if (succeed != false) {
    <app-error  [servError]="servError"></app-error>
}


<div class="shadow-2xl max-w-4xl mx-auto md:my-10 md:p-3 p-10" style="background-color: #E9F0FF;">

    <form class="max-w-3xl mx-auto" [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
        <img class=" mb-10 w-full h-auto max-w-xl rounded-lg" src="../../../../../assets/images/freshcart-logo.svg">
        <h1 class="text-2xl">Register Now :</h1>
        <div class="mb-5">
            <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">name:</label>
            <input type="text" id="text"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required formControlName="name" />
            @if (registerForm.get("name")?.errors && registerForm.get("name")?.touched)
            {
            @if (registerForm.get("name")?.getError("required"))
            {
            <div class="mt-1 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">Name is Required.</span>
            </div>
            }
            @else if (registerForm.get("name")?.getError("maxlength"))
            {
            <div class="mt-1 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">The Name must have a maximum of 20 character </span>
            </div>
            }
    
            @else if (registerForm.get("name")?.getError("minlength"))
            {
            <div class="mt-1 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">The Name must have a minmum of 3 character .</span>
            </div>
            }
    
            }
        </div>
    
    
        <div class="mb-5">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email:</label>
            <input type="email" id="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="example@example.com" required formControlName="email" />
    
            @if (registerForm.get("email")?.errors && registerForm.get("email")?.touched)
            {
            @if (registerForm.get("email")?.getError("required"))
            {
            <div class="mt-1 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">Email is Required.</span>
            </div>
            }
            @else if (registerForm.get("email")?.getError("email"))
            {
            <div class="mt-1 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">The email must have email signature </span>
            </div>
            }
            }
        </div>
    
    
    
        <div class="mb-5">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
            <input type="password" id="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required formControlName="password" />
    
            @if (registerForm.get("password")?.errors && registerForm.get("password")?.touched)
            {
            @if (registerForm.get("password")?.getError("required"))
            {
            <div class="mt-1 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">password is Required.</span>
            </div>
            }
            @else if (registerForm.get("password")?.getError("pattern"))
            {
            <div class="mt-1 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">The password is InValid </span>
            </div>
            }
            }
        </div>
    
        <div class="mb-5">
            <label for="rePassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">rePassword</label>
            <input type="password" id="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required formControlName="rePassword" />
    
            @if (registerForm.getError('mismatch') && registerForm.get('rePassword')?.touched) 
            {
                <div class="mt-1 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    <span class="block sm:inline"> rePassword Not match with password </span>
                </div>
            }
        </div>
    
        <div class="mb-3">
            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">phone :</label>
            <input type="number" id="phone"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required formControlName="phone" />
    
            @if (registerForm.get("phone")?.errors && registerForm.get("phone")?.touched)
            {
            @if (registerForm.get("phone")?.getError("required"))
            {
            <div class="mt-1 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">phone is Required.</span>
            </div>
            }
            }
        </div>
        <div class="flex justify-end">
            <button [disabled]="isLoading" [disabled]="registerForm.invalid" type="button" type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Register</button>
            </div>
    
    </form>
</div>
